/* Reset default settings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up the design system */
html {
  font-size: 14px;
  font-family: "Raleway", serif;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --gradient: linear-gradient(135deg, #ffa399, #ff4d97);
  --very-dark-blue: #0c122c;
  --greyish-blue: #848794;
  --pale-blue: #dddbff;
  --dark-blue: #1d2c67;
}

.container {
  background-image: url("images/bg-mobile.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.dashboard {
  padding: 30px;
  width: 90%;
  background-color: #1d2c67;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 201px;
  border-radius: 10px 100px 10px 10px;
}

.icons__container {
  display: flex;
  gap: 10px;
}

.icon__container {
  width: 48.15px;
  height: 48px;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c122c;
}

.storage {
  position: relative;
  padding: 30px;
  width: 90%;
  height: 160px;
  background-color: #1d2c67;
  border-radius: 10px;
}

.storage__title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #dddbff;
}

.bold {
  font-weight: 700;
}

.progress-bar {
  width: 100%;
  height: 14px;
  border-radius: 20px;
  background-color: #0c122c;
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #0c122c;
  height: 14px;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar::-webkit-progress-value {
  background: linear-gradient(135deg, #ffa399, #ff4d97);
  border-radius: 20px;
}

.progress-bar::-moz-progress-bar {
  background: linear-gradient(135deg, #ffa399, #ff4d97);
  border-radius: 20px;
}

.progress-bar-container {
  padding: 1px;
  background-color: #0c122c;
  margin-block: 20px 10px;
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 20px;
}

.progress-indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  top: 50%;
  transform: translate(-120%, -50%);
  left: 81.5%;
}

.numbers {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  color: #dddbff;
}

.tooltip {
  position: absolute;
  bottom: -45px;
  left: 30%;
  height: 72px;
  width: 38%;
  padding: 5px;
  background-color: #fff;
  color: #0c122c;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
}

.storage__quantity {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
}

.storage__left {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 11.5%;
    background-color: #0c122c;
    background-image: url("images/bg-desktop.png");
    background-position: left bottom;
    background-size: contain;
    flex-direction: row;
    align-items: baseline;
  }

  .dashboard {
    width: 350px;
  }

  .storage {
    width: 540px;
  }

  .storage__title {
    text-align: left;
  }

  .tooltip {
    position: relative;
    top: -160px;
    left: 55%;
    width: 35%;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 88%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: white white transparent transparent;
  }
}
